# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#!pip install gmaps
#!pip install matplotlib
#!pip install pandas
#!pip install requests

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Store filepath in a variable
weather_data = "../Output/weather.csv"

# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
weather_data_df = pd.read_csv(weather_data)
weather_data_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloud Cover,Wind Speed,Country,Date Time
0,Bantou,26.2151,117.4893,60.39,87,98,2.73,CN,1615327585
1,Presidencia Roque Sáenz Peña,-26.7852,-60.4388,91.00,30,0,5.01,AR,1615327585
2,Punta Arenas,-53.1500,-70.9167,60.80,55,40,24.16,CL,1615327586
3,Kudahuvadhoo,2.6708,72.8944,83.21,67,99,3.27,MV,1615327586
4,Albany,42.6001,-73.9662,48.20,49,20,17.27,US,1615327584
...,...,...,...,...,...,...,...,...,...
556,Strängnäs,59.3774,17.0312,27.00,80,90,9.22,SE,1615327755
557,Folldal,62.1325,9.9968,18.10,93,57,8.59,NO,1615327755
558,Guisa,20.2550,-76.5386,77.00,65,40,14.97,CU,1615327756
559,Keetmanshoop,-26.5833,18.1333,73.40,23,0,8.05,NaN,1615327756
560,Sabang,5.8933,95.3214,82.49,73,90,16.04,ID,1615327756

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)
gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Store latitude and longitude in locations
locations = weather_data_df[["Latitude", "Longitude"]]

# Weight
humidity = weather_data_df["Humidity"].astype(float)
print(locations)
print(humidity)

     Latitude  Longitude
0     26.2151   117.4893
1    -26.7852   -60.4388
2    -53.1500   -70.9167
3      2.6708    72.8944
4     42.6001   -73.9662
..        ...        ...
556   59.3774    17.0312
557   62.1325     9.9968
558   20.2550   -76.5386
559  -26.5833    18.1333
560    5.8933    95.3214

[561 rows x 2 columns]
0      87.0
1      30.0
2      55.0
3      67.0
4      49.0
       ...
556    80.0
557    93.0
558    65.0
559    23.0
560    73.0
Name: Humidity, Length: 561, dtype: float64

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(0.0, 0.0), zoom_level=1.5)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=150,
                                 point_radius=1.5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# A max temperature lower than 80 degrees but higher than 70.
warm_df = weather_data_df.loc[weather_data_df['Max Temperature'] >= 70]
good_temp_df = warm_df.loc[warm_df['Max Temperature'] <= 80]

# Wind speed less than 10 mph.
calm_winds_df = good_temp_df.loc[good_temp_df['Wind Speed'] <= 10]
# Zero cloudiness.
good_weather_df = calm_winds_df.loc[calm_winds_df['Cloud Cover'] == 0]
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
good_weather_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloud Cover,Wind Speed,Country,Date Time
13,Charters Towers,-20.1000,146.2667,72.73,71,0,4.43,AU,1615327589
33,Biltine,14.5333,20.9167,78.60,15,0,9.84,TD,1615327594
60,Port Blair,11.6667,92.7500,77.81,74,0,5.84,IN,1615327603
89,Tres Arroyos,-38.3739,-60.2798,74.55,25,0,7.70,AR,1615327612
102,Saint-Philippe,-21.3585,55.7679,77.00,65,0,5.75,RE,1615327616
162,Sur,22.5667,59.5289,74.82,48,0,6.64,OM,1615327634
178,Ratnagiri,16.9833,73.3000,74.98,63,0,4.32,IN,1615327639
205,Salalah,17.0151,54.0924,73.40,60,0,4.61,OM,1615327647
225,Beira,-19.8436,34.8389,75.20,94,0,2.30,MZ,1615327653
237,Chabahar,25.2919,60.6430,72.52,77,0,5.86,IR,1615327656
277,Puri,19.8000,85.8500,73.40,94,0,5.75,IN,1615327669
289,Jhajha,24.7667,86.3667,71.11,31,0,4.23,IN,1615327673
345,Dwārka,22.2394,68.9678,73.00,81,0,7.05,IN,1615327691
381,Cam Ranh,11.9214,109.1591,77.00,73,0,6.91,VN,1615327702
396,Yulara,-25.2406,130.9889,75.20,41,0,8.05,AU,1615327707
399,Inhambane,-23.8650,35.3833,74.48,79,0,9.31,MZ,1615327708
406,Māngrol,21.1167,70.1167,72.95,80,0,9.28,IN,1615327710
468,Mackay,-21.1500,149.2000,78.01,88,0,3.44,AU,1615327729
485,Narasannapeta,18.4167,84.0500,71.38,89,0,4.32,IN,1615327735
501,Diego de Almagro,-26.3667,-70.0500,74.91,39,0,9.17,CL,1615327739
528,Pisco,-13.7000,-76.2167,78.01,83,0,5.75,PE,1615327689
547,Jardim,-21.4803,-56.1381,75.25,58,0,2.42,BR,1615327752
548,Muscat,23.6139,58.5922,73.40,28,0,3.44,OM,1615327753
559,Keetmanshoop,-26.5833,18.1333,73.40,23,0,8.05,NaN,1615327756

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotels = []
for i, row in good_weather_df.iterrows():
    # geocoordinates
    target_coordinates = f'{row["Latitude"]}, {row["Longitude"]}'
    target_search = "Hotels"
    target_radius = 5000
    target_type = "Hotels"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    # convert response to json
    places_data = response.json()
    
    try:
        hotels.append(places_data["results"][0]["name"])
    
    except IndexError:
        hotels.append("NaN")

# Print the json (pretty printed)
#print(json.dumps(places_data, indent=4, sort_keys=True))

In [9]:
hotel_df = good_weather_df
hotel_df.insert(9, 'Hotel Name', hotels)
hotel_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloud Cover,Wind Speed,Country,Date Time,Hotel Name
13,Charters Towers,-20.1000,146.2667,72.73,71,0,4.43,AU,1615327589,Park Hotel Motel
33,Biltine,14.5333,20.9167,78.60,15,0,9.84,TD,1615327594,Hôtel Trois Étoiles de Biltine
60,Port Blair,11.6667,92.7500,77.81,74,0,5.84,IN,1615327603,Hotel Ami Grace
89,Tres Arroyos,-38.3739,-60.2798,74.55,25,0,7.70,AR,1615327612,Hotel Alfil Express
102,Saint-Philippe,-21.3585,55.7679,77.00,65,0,5.75,RE,1615327616,Les Embruns Du Baril
162,Sur,22.5667,59.5289,74.82,48,0,6.64,OM,1615327634,Sur Plaza Hotel
178,Ratnagiri,16.9833,73.3000,74.98,63,0,4.32,IN,1615327639,Ratnasagar Beach Resort
205,Salalah,17.0151,54.0924,73.40,60,0,4.61,OM,1615327647,Star Emirates garden villas
225,Beira,-19.8436,34.8389,75.20,94,0,2.30,MZ,1615327653,Beira Terrace Hotel
237,Chabahar,25.2919,60.6430,72.52,77,0,5.86,IR,1615327656,Lipar Hotel
277,Puri,19.8000,85.8500,73.40,94,0,5.75,IN,1615327669,"MAYFAIR Heritage, Puri"
289,Jhajha,24.7667,86.3667,71.11,31,0,4.23,IN,1615327673,Shivraj Hotel
345,Dwārka,22.2394,68.9678,73.00,81,0,7.05,IN,1615327691,Lemon Tree Premier
381,Cam Ranh,11.9214,109.1591,77.00,73,0,6.91,VN,1615327702,NaN
396,Yulara,-25.2406,130.9889,75.20,41,0,8.05,AU,1615327707,Longitude 131
399,Inhambane,-23.8650,35.3833,74.48,79,0,9.31,MZ,1615327708,Sentidos Beach Retreat
406,Māngrol,21.1167,70.1167,72.95,80,0,9.28,IN,1615327710,NaN
468,Mackay,-21.1500,149.2000,78.01,88,0,3.44,AU,1615327729,Shamrock Hotel
485,Narasannapeta,18.4167,84.0500,71.38,89,0,4.32,IN,1615327735,SPR Grand Hotel
501,Diego de Almagro,-26.3667,-70.0500,74.91,39,0,9.17,CL,1615327739,Hotel Hambyll
528,Pisco,-13.7000,-76.2167,78.01,83,0,5.75,PE,1615327689,Embassy Beach
547,Jardim,-21.4803,-56.1381,75.25,58,0,2.42,BR,1615327752,Vitória Hotel
548,Muscat,23.6139,58.5922,73.40,28,0,3.44,OM,1615327753,"Al Bustan Palace, A Ritz-Carlton Hotel"
559,Keetmanshoop,-26.5833,18.1333,73.40,23,0,8.05,NaN,1615327756,Keetmanshoop Self-Catering Accommodation

In [14]:
hotel_df.dropna()
hotel_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloud Cover,Wind Speed,Country,Date Time,Hotel Name
13,Charters Towers,-20.1000,146.2667,72.73,71,0,4.43,AU,1615327589,Park Hotel Motel
33,Biltine,14.5333,20.9167,78.60,15,0,9.84,TD,1615327594,Hôtel Trois Étoiles de Biltine
60,Port Blair,11.6667,92.7500,77.81,74,0,5.84,IN,1615327603,Hotel Ami Grace
89,Tres Arroyos,-38.3739,-60.2798,74.55,25,0,7.70,AR,1615327612,Hotel Alfil Express
102,Saint-Philippe,-21.3585,55.7679,77.00,65,0,5.75,RE,1615327616,Les Embruns Du Baril
162,Sur,22.5667,59.5289,74.82,48,0,6.64,OM,1615327634,Sur Plaza Hotel
178,Ratnagiri,16.9833,73.3000,74.98,63,0,4.32,IN,1615327639,Ratnasagar Beach Resort
205,Salalah,17.0151,54.0924,73.40,60,0,4.61,OM,1615327647,Star Emirates garden villas
225,Beira,-19.8436,34.8389,75.20,94,0,2.30,MZ,1615327653,Beira Terrace Hotel
237,Chabahar,25.2919,60.6430,72.52,77,0,5.86,IR,1615327656,Lipar Hotel
277,Puri,19.8000,85.8500,73.40,94,0,5.75,IN,1615327669,"MAYFAIR Heritage, Puri"
289,Jhajha,24.7667,86.3667,71.11,31,0,4.23,IN,1615327673,Shivraj Hotel
345,Dwārka,22.2394,68.9678,73.00,81,0,7.05,IN,1615327691,Lemon Tree Premier
381,Cam Ranh,11.9214,109.1591,77.00,73,0,6.91,VN,1615327702,NaN
396,Yulara,-25.2406,130.9889,75.20,41,0,8.05,AU,1615327707,Longitude 131
399,Inhambane,-23.8650,35.3833,74.48,79,0,9.31,MZ,1615327708,Sentidos Beach Retreat
406,Māngrol,21.1167,70.1167,72.95,80,0,9.28,IN,1615327710,NaN
468,Mackay,-21.1500,149.2000,78.01,88,0,3.44,AU,1615327729,Shamrock Hotel
485,Narasannapeta,18.4167,84.0500,71.38,89,0,4.32,IN,1615327735,SPR Grand Hotel
501,Diego de Almagro,-26.3667,-70.0500,74.91,39,0,9.17,CL,1615327739,Hotel Hambyll
528,Pisco,-13.7000,-76.2167,78.01,83,0,5.75,PE,1615327689,Embassy Beach
547,Jardim,-21.4803,-56.1381,75.25,58,0,2.42,BR,1615327752,Vitória Hotel
548,Muscat,23.6139,58.5922,73.40,28,0,3.44,OM,1615327753,"Al Bustan Palace, A Ritz-Carlton Hotel"
559,Keetmanshoop,-26.5833,18.1333,73.40,23,0,8.05,NaN,1615327756,Keetmanshoop Self-Catering Accommodation

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [13]:
# Add marker layer ontop of heat map
# Create a map using location coordinates to set markers
marker_locations = locations

# Create a marker_layer
markers = gmaps.marker_layer(marker_locations,
    info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))